<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
</head>
<body>
  <div class="container">
    <div class="form-box">
      <h1>Iniciar Sesión</h1>
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="input-group">
          <label for="name" class="input-label">Nombre de Usuario</label>
          <input id="name" type="text" class="input" formControlName="username" placeholder="Escribe tu usuario">
        </div>

        <div class="input-group">
          <label for="passwd" class="input-label">Contraseña</label>
          <input id="passwd" type="password" class="input" formControlName="passwd" placeholder="Escribe tu contraseña">
        </div>

        <p>¿No tienes una cuenta?
          <a routerLink="/register" class="login-link">Regístrate</a>
        </p>

        <button type="submit" class="submit-btn">Iniciar Sesión</button>
      </form>
    </div>
  </div>
</body>
</html>
