/* Fondo para la página principal con temática Inazuma Eleven */
body {
  background-image: url('https://image.api.playstation.com/vulcan/ap/rnd/202407/0404/888e6619e9afe45d8d3fe68184e79d14dd677ad551ecb3e6.png'); /* Asegúrate de tener esta imagen en la carpeta assets */
  background-size: cover;
  background-position: center;
  font-family: 'Arial', sans-serif;
  color: white; /* Texto blanco para contraste con el fondo oscuro */
  margin: 0;
  padding: 0;
}

/* Estilos para la contenedor principal */
.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Asegura que ocupe toda la pantalla */
  text-align: center;
  background: rgba(0, 0, 0, 0.6); /* Fondo semi-transparente para el texto */
  border-radius: 8px;
  padding: 20px;
}

/* Mensaje de bienvenida */
.welcome-message h1 {
  font-size: 3rem;
  font-weight: bold;
  color: #f6bc6f; /* Color dorado similar a los uniformes de Inazuma Eleven */
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.welcome-message p {
  font-size: 1.5rem;
  color: #e0e0e0;
  margin-top: 10px;
}

/* Contenedor de botones */
.buttons-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 50px;
}

/* Estilo de botones */
.btn {
  padding: 15px 30px;
  font-size: 1.5rem;
  color: white;
  background-color: #ffab00; /* Color similar al uniforme de Inazuma Eleven */
  border: none;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
}

.btn:hover {
  background-color: #e07b00; /* Color más oscuro al pasar el ratón */
  transform: scale(1.1);
}
