<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="juegos-container">
    <h1>Lista de Juegos</h1>
    <div *ngFor="let juego of juegos" class="juego-card">
      <h2>{{ juego.nombre }}</h2>
      <p><strong>Fecha de Lanzamiento:</strong> {{ juego.publicacion }}</p>
      <p><strong>Plataforma:</strong> {{ juego.consolas }}</p>
      <p><strong>Descripción:</strong> {{ juego.sinopsis }}</p>
    </div>
  </div>

</body>
</html>
